/* https://cdn.dribbble.com/userupload/2418609/file/original-01f79871a7fe4502b9ed8eb0feeca658.png?compress=1&resize=1504x1128&vertical=center */
html,
body {
  margin: 0;
  background-color: #202124;
  font-family: Sans-serif;
  text-align: center;
}
body {
  border: 1px solid #1a1c20;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#title {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
}
#title img {
  height: 30px;
  width: 30px;
}
#title h1 {
  font-size: 20px;
  /* margin-left: 30px; */
}
#info {
  font-size: 13px;
  /* margin-bottom: 10px; */
  color: white;
}
form {
  /* width: 200px; */
  /* margin-top: 30px; */
  /* border: 1px solid #8ab4f8; */
  border-radius: 15px;
  min-width: 250px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  width: 100%;
  font-size: small;
  padding: 10px 0;
  /* border-bottom: 1px solid white; */
  /* border-radius: 7px; */
}
#active::before {
  content: "Add keyword";
  display: block;
  color: white;
  padding-bottom: 5px;
}

#passive::before {
  content: "Remove keyword";
  display: block;
  color: white;
  padding-bottom: 5px;
}
.draggable {
  padding: 0.3rem 0.5rem;
  border: 1px solid red;
  background-color: #2d2f33;
  border: 1px solid #2d2f33;
  cursor: move;
  /* width: 85%; */
  margin: auto;
  color: #edeff1;
  /*   border: 1px solid red; */
  border-radius: 6px;
  margin: 5px;
}
.draggable.dragging {
  opacity: 0.5;
}
button {
  width: 90%;
  height: 30px;
  /* margin-top: 10px; */
  background-color: skyblue;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
#msg {
  display: none;
  /* margin-top: 8px; */
  color: white;
}
